/* html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

} */
.container{
    background-color: rgb(204, 219, 232);
    height: 100%;
    background-position: center;
    width: 30%;
    border: 2px solid yellowgreen;
    align-items: center;
}




html, body{
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}


/* #login{
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
} */
/* .parent{
    height: 100px;
    width: 400px;
    display: flex;
    justify-content:center ;
    border-radius: 20px;

}
.first{
height: 500px;
width: 500px;
border: 2px solid black;
border-radius: 20px;
padding: 20px;
}
#button{
    background-color: greenyellow;
    color: black;
} */